---
new_page_extension: md
auto_deploy: true
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: _posts
  label: Pages
  create: all
  match: "*.md"
upload_dir: img/posts
public_path: "/static"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
